
body {
    background-color: lightgrey;
  }
  
.main-content{
    margin-top:3em;
    margin-bottom: 3em;
    padding-top:1em;
    padding-bottom: 3em;
}

#contactbutton {
    background-color:lightseagreen;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightseagreen;
    color: black;
    text-align: center;
  }