#main-content{
    margin-top:3em;
    margin-bottom: 2em;
    padding-top:1em;
    padding-bottom: 1rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: black;
    text-align: center;
  }